* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: sans-serif;
}

#page-wrapper {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

/* change after adding logo image
.logo {
    width: 10vw;
}

@media (max-width: 600px) {
    .logo {
        margin-top: 20px;
        width: 100%;
        position: relative;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .logo > img {
        margin: 0 auto;
    }
}
*/

nav {
    font-weight: 400px;
}

@media (max-width: 600px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

footer {
    background-color: rgb(228, 228, 228);
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
