header {
}

li {
  list-style: none;
}

footer {
  background color: #ddd;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}
