* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 6vw;
}

@media (max-width: 600px) {
    .logo {
        margin-top: 20px;
        width: 100%;
        position: relative;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .logo > img {
        margin: 0 auto;
    }
}

li {
    list-style: none;
}

footer {
    background-color: rgb(228, 228, 228);
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
